.textBuy {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.btn {
  padding: 10px 15px;
  border: 3px solid $secondary-color;
  color: $secondary-color;
  background-color: $primary-color;
}
